{% extends 'layout.html' %}
{% block content %}
<h1>Get Key/Value</h1>
<div class="container">
  <form action="{{ url_for('getset') }}" method="get" role="form" name="search-form">
    <div class="form-group">
      <label>Key</label>
        <input type="search" name="search_key" value="{{ search_key or '' }}" class="form-control">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
  </form>
  {% if search_key %}
  <div class="container search-result">
    <h2>Search Result</h2>
    <p>{{ search_value if search_value else 'There is no key \'' + search_key + '\'' }}</p>
  </div>
  {% endif %}
</div>

<h1>Set Key/Value</h2>
<div class="container">
  <form action="{{ url_for('set') }}" method="post" role="form" name="set-form">
    <div class="form-group">
      <label>Key</label>
      <input type="text" name="set_key" value="{{ set_key or ''}}" class="form-control">
    </div>
    <div class="form-group">
      <label>Value</label>
      <input type="text" name="set_value" value="{{ set_value or ''}}" class="form-control">
    </div>
    <button type="submit" name="set_method" value="set" class="btn btn-default">Set</button>
    <button type="submit" name="set_method" value="incr" class="btn btn-default">Increase Value</button>
    <button type="submit" name="set_method" value="decr" class="btn btn-default">Decrease Value</button>
  </form>
  {% if set_method %}
    <div class="container set-result">
      <h2>{{ set_method }} Result</h2>
      <p>{{ set_result }}</p>
    </div>
  {% endif %}
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/getset.js') }}"></script>
{% endblock %}
